@import "vars-typeplate";
@import "typeplate";

html {
  margin: 0;
  padding: 0;
  width: 100%;
  }

body {
  margin: auto;
  padding: 1em;
  max-width: 50em;
  }

* {
  font-family: serif;
  }

pre, code {
  font-family: monospace;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  }

a[href] {
  -webkit-transition: all 140ms ease-in-out;
  -moz-transition: all 140ms ease-in-out;
  -o-transition: all 140ms ease-in-out;
  transition: all 140ms ease-in-out;
  color: #6998c9;
  text-decoration: none;
  }
a[href]:hover {
  color: #007ed5;
  text-decoration: underline;
  }
a[href]:visited {
  color: gray;
  }
a[href]:active {
  color: #f20000;
  }

/*
 * Forms
 **********************************************************/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text'] {
  padding: 10px 15px;
  border: 1px solid #aaa;
  background-color: #fff;
}

button[type='button'],
button[type='submit'],
input[type='submit'] {
  padding: 10px 15px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #37b;
  background-color: #59d;
  cursor: pointer;
}

/*
 * Tables
 **********************************************************/
table {
  width: 100%;
  margin: 0 0 20px;
  border-collapse: collapse;
  border: 1px solid #bbb;
  background-color: #fff;
}

th, td {
  padding: 10px;
  border-right: 1px solid #bbb;
}

th {
  font-weight: 600;
  background: #ddd;
}

tr:nth-child(even) {
  background: #eee;
}

